@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4 
  }

  button {   
    @apply border border-black rounded-xl px-5 py-1
  }

  .center-screen {
    margin: 0px auto;
  }

  .width-20-pct {
    width: 20%;
  }

  .width-60-pct {
    width: 60%;
  }

  .login-btn {
    float: "right";
    display: flex;
  }
}

